.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;

}
.headers{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: center;
   background-color: rgb(238, 245, 245);
   
}

